/* Articules View Component */

.articlesContainer {
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 300px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

/* Article Component */
.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-right: 5%;
}

.container .mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .share {
  display: none;
}

.container .content .tag {
  font-size: 14px;
}

.container .content .byline {
  color: #6b6b6b;
  font-size: 16px;
}

.container .content .byline .author {
  font-style: italic;
}

.container .content .title {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.container hr {
  height: 0.5px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin-bottom: 12%;
  }
  .container .content .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
  }

  .container .share {
    display: inline-block;
  }

  .container .content .byline {
    display: none;
  }
  .container .desc {
    display: none;
  }
  .container .hr {
    display: none;
  }
}
