/* Articles View Component */

/* .articlesContainer {
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 300px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
} */

/* Article Component */
/* .container {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-right: 5%;
}
.container .image {
  width: 300px;
  height: 200px;
}

.container .mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .share {
  display: none;
}

.container .content .tag {
  font-size: 14px;
}

.container .content .byline {
  color: #6b6b6b;
  font-size: 16px;
}

.container .content .byline .author {
  font-style: italic;
}

.container .content .title {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.container hr {
  height: 0.5px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin-bottom: 12%;
  }
  .container .content .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
  }

  .container .share {
    display: inline-block;
  }

  .container .content .byline {
    display: none;
  }
  .container .desc {
    display: none;
  }
  .container .hr {
    display: none;
  }
} */

@media only screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {
  /* DESKTOP ARTICLES VIEW COMPONENT */
  .desktopArticles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
  }

  .mobileAndFeatureArticleContainer {
    display: none;
  }

  .tabletArticles {
    display: none;
  }

  .mobileArticles {
    display: none;
  }

  .featureArticles {
    display: none;
  }
}

/* DESKTOP ARTICLE COMPONENT */
@media only screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {
  .tabletArticleContainer{
    display:none;
  }

  .articleContainer {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .desktopArticleContainer{
    margin: 10px;
    height: 100%;
  }

  .desktopArticleContainer .image {
    width: 100%;
    /* height: 210px; */
    position:relative;
    display: inline-block;
  }

  .desktopArticleContainer .mainImage {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

  }

  .desktopArticleContainer .share {
    background-color:white;
    border-radius: 200px;
    z-index: 100;
    padding: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 15%;
    left: 83%;
    /* transform: translate( -5.5%, -11% ); */
  }

  .desktopArticleContainer .content {
    font-family: 'Open Sans', sans-serif;
  }

  .desktopArticleContainer .content .title{
    color:'#303030';
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    font-weight:700;
    line-height:30px;
    display:flex;
    align-items: center;
    height:80px;
     /* width:330px; */
  }

  .desktopArticleContainer .content .byline{
    color:#6B6B6B;
  }

  .desktopArticleContainer .title a{
    text-decoration: none;
    color: black;
  }
}

/* TABLET ARTICLES VIEW COMPONENT */
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .featureArticles {
    display: none;
  }

  .mobileArticles {
    display: none;
  }

  .desktopArticles {
    display: none;
  }

  .tabletArticles {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
  }

  .tabletArticlesRowContainer {
    margin-bottom: 5%;
  }

  .tabletArticlesRowContainer .tabletArticlesHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
  }

  .tabletArticlesRowContainer .tabletArticlesHeader h1 {
    font-size: 35px;
    color:#303030;
    margin-right:15px;
  }

  .articlesRow {
    display: flex;
  }
}

/* TABLET ARTICLE COMPONENT */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .desktopArticleContainer{
    display:none;
  }

  .mobileAndFeatureArticleContainer {
    display: none;
  }

  .tabletArticleContainer {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-right: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
  }

  .tabletArticleContainer .content{
    text-align: left;
  }

  .tabletArticleContainer .content .tag{
    padding-left:15px;
    padding-right:15px;
  }

  .tabletArticleContainer .content .title{
     padding-left:15px;
     padding-right:15px;
     display:flex;
     align-items: center;
     height:60px;
     width:330px;
  }

  .tabletArticleContainer .content .desc{
    padding-left:15px;
    padding-right:15px;

  }

  .tabletArticleContainer .image {
    width: 100%;
    height: 210px;
    position:relative;
    display: inline-block;
  }

  .tabletArticleContainer .mainImage {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

  }

  .tabletArticleContainer .share {
    background-color:white;
    border-radius: 200px;
    z-index: 100;
    padding: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 15%;
    left: 83%;
    /* transform: translate( -5.5%, -11% ); */
  }

  .tabletArticleContainer .content .tag {
    font-size: 14px;
  }

  .tabletArticleContainer .content .byline {
    color: #6b6b6b;
    font-size: 16px;
  }

  .tabletArticleContainer .content .byline .author {
    font-style: italic;
  }

  .tabletArticleContainer .content .title {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  }

  .tabletArticleContainer hr {
    height: 0.5px;
  }
}

/* MOBILE ARTICLES VIEW COMPONENT */
@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
  .desktopArticleContainer{
    display: none;
  }

  .tabletArticleContainer {
    display: none;
  }

  .tabletArticles {
    display: none;
  }

  .desktopArticles {
    display: none;
  }

  .featureArticles {
    display: none;
  }

  .mobileArticles .articleBlock {
    background: white;
    margin: 30px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
    padding-left: 15px;
  }

  .mobileArticles .articleBlock .blockHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mobileArticles .articleBlock .blockHeader {
    color: #bf0012;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-right: 3px;
  }

  .mobileArticles .articleBlock .articleBlockViewMore {
    color: #bf0012;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    margin-top: 5px;
  }
}

/* MOBILE ARTICLE COMPONENT */
@media only screen and (min-device-width: 300px) and (max-width: 600px) {

  .desktopArticleContainer {
    display: none;
  }

  .mobileAndFeatureArticleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadada;
    padding: 10px 12px;
    margin-top: 10px;
  }

  .mobileAndFeatureArticleContainer .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mobileAndFeatureArticleContainer .title {
    width: 200px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: -5px;
    color: black;
  }

  .mobileAndFeatureArticleContainer .tag {
    display: none;
  }

  .mobileAndFeatureArticleContainer .image {
    width: 50px;
    height: 30px;
  }

  .mobileAndFeatureArticleContainer .mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/* FEATURE PHONE ARTICLES VIEW COMPONENT */
@media only screen and (max-device-width: 300px) {

  .desktopArticleContainer{
    display: none;
  }

  .tabletArticleContainer {
    display: none;
  }



  .tabletArticles {
    display: none;
  }

  .mobileArticles {
    display: none;
  }

  .desktopArticles {
    display: none;
  }

  .blockHeaderContainer {
    display: none;
  }

  .articleBlockViewMore {
    display: none;
  }

  .featureLinksContainer {
    padding: 0px 10px;
  }

  .featureLinksWrapper {
    padding: 0px 20px;
    margin-bottom: 15px;
  }

  .featureLinksContainer a {
    text-decoration-color: #20cd84;
  }

  .featureLinksContainer .noUnderline {
    text-decoration: none;
  }

  .featureLinksContainer .featureLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #20cd84;
    font-size: 11px;
    font-weight: 700;
    border-bottom: 1px solid #dadada;
    height: 30px;
  }

  .featureLinksContainer .searchLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #20cd84;
    font-size: 11px;
    font-weight: 700;
    border-bottom: 1px solid #dadada;
    height: 30px;
  }
}

/** FEATURE PHONE ARTICLE COMPONENT **/
@media only screen and (max-width: 300px) {
  .tabletArticleContainer {
    display: none;
  }

  .desktopArticleContainer {
    display: none;
  }

  .mobileAndFeatureArticleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadada;
    padding: 0 12px;
    width: 100vw;
  }

  .mobileAndFeatureArticleContainer .title {
    width: 185px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 9.5px;
    margin-top: -5px;
    color: black;
  }

  .mobileAndFeatureArticleContainer .tag {
    font-family: 'Open Sans', sans-serif;
    font-size: 6.5px;
    color: black;
  }

  .mobileAndFeatureArticleContainer .image {
    width: 49px;
    height: 26px;
  }

  .mobileAndFeatureArticleContainer .mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
