
.header {
	/* position: fixed; */
	/* flex-direction: row; */
	display: inline-flex;
	left: 0;
	top: 0;
	width: 100%;
	/* height: 56px; */
	height: auto;
	padding: 0;
	background: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
	z-index: 50;
}

.header nav {
	/* float: left; */
	display: inline-block;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #6B6B6B;
	will-change: background-color;
}

/* Tab hovered on */
.header nav a:hover,
.header nav a:active {
	border-bottom: 2px solid #20CD84;
}

/* Current tab */
.header nav a.active {
	border-bottom: 2px solid #20CD84;	
}

.header dropdown {
	/* background: black; */
}

.btn-flat {
	background-color: purple;
	color: white;
}

.btn-xxl {
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
}